.pdl-df {
    display: flex
}

.pdl-row {
    flex-direction: row;
}

.pdl-col {
    flex-direction: column
}

.pdl-dn {
    display: none;
}

.pdl-mouseover {
    background-color: #C4ADFF;
    cursor: pointer;
}

.pdl-selected {
    background-color: #C4ADFF;
}

.pdl-autocomplete {
    position: absolute;
    z-index: 99;
    font-size: .8rem;
    width: 28vw;
    min-width: 18rem;
}

.pdl-auto-input-wrapper {
    width: 28vw;
    min-width: 18rem;
    padding: .5rem;
    border: .1rem solid #d2d6dc;
    background-color: #f9f9f9;
    justify-content: center;
    align-items: center;
}


.pdl-input-wrapper-focus {
    border: .105rem solid #5C36BA;
    background-color: white;
}

input.pdl-auto-input {
    font-size: 1rem;
    height: 100%;
    width: 100%;
    background-color: #F7F7F7;
    outline: none;
    border: none;
}

input:focus.pdl-auto-input {
    outline: none;
    border: none;
    background-color: white;
}

.pdl-suggestions {
    width: 100%;
    background-color: white;
    border-bottom: 0.1rem solid #b0b0b082;
    border-left: 0.1rem solid #b0b0b082;
    border-right: 0.1rem solid #b0b0b082;
    padding-right: 1rem;
}

.pdl-suggestion {
    width: 100%;
    padding: .5rem;
    justify-content: space-between;
    cursor: pointer;
}

.pdl-suggestion-name {
    padding-left: .75rem;
}

.pdl-suggestion-count {
    padding-right: .75rem;
}

.pdl-suggestions-pending {
    position: absolute;
    z-index: 99;
    width: 100%;
    padding: .5rem;
    background: white;
    border-bottom: 0.1rem solid #b0b0b082;
    border-left: 0.1rem solid #b0b0b082;
    border-right: 0.1rem solid #b0b0b082;
}

.pdl-suggestions-error {
    position: absolute;
    z-index: 99;
    width: 100%;
    background: white;
    padding: .5rem;
    font-size: 1rem;
    border-bottom: 0.1rem solid #b0b0b082;
    border-left: 0.1rem solid #b0b0b082;
    border-right: 0.1rem solid #b0b0b082;
}

@keyframes spinner {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.pdl-loading-spinner {
    margin-left: .2rem;
    width: 1.095rem;
    height: 1rem;
    border: .2rem solid #d1d0d0bb;
    border-top: .2rem solid #727272d0;
    border-radius: 50%;
    animation: spinner 1.5s linear infinite;
}
